$primary: #E92569;
$light: #EFEFEF;

$light-gray: #C7C7C7;
$medium-gray: #767676;
$dark-gray: #0A0A0A;

$font-family-base: 'Lato', sans-serif;
$headings-color: $primary;
$body-color: $medium-gray;
$navbar-light-color: $dark-gray;
$navbar-light-hover-color: $primary;