.accordion {
  @include shadow(16px, 22px, 0.06);

  .card {
    border-radius: 10px;
    border: none;
  }

  .card-header {
    background: white;
  }

  .card-body {
    background: radial-gradient(#ffffff, #f5f5f5);
    border-top: 1px solid $primary;
  }

  img {
    width: 100%;
    margin-top: 16px;
  }
  .share {
    @extend .share-common;
    text-align: center;
  }
}
